body {
  background: #f5f6ff;
  margin: 0;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 18px;
  padding-right: 10px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  color: #444;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  outline: none;
}

.circle:hover {
  background: #6c52ff;
  color: #fff;
  transform: scale(1.05);
}

.circle:disabled {
  opacity: 0.3;
  cursor: default;
}

.page-text {
  font-weight: 400;
  font-size: 13px;
  color: #555;
}

.layout {
  display: flex;
  width: 100%;

  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Sidebar stays fixed width */
#sidebar {
  width: 280px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

#main {
  flex: 1;
  margin: 0;
  padding: 0;
}

.t4-card {
  background: #fff;
  border-radius: 26px;
  padding: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
  min-width: 0px;
  position: relative;
  overflow: hidden; /* Important! */
}
.product-image {
  width: 100%;
}
.product-image img {
  max-width: 100%;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 35px;
  width: 100%;
}

.t4-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.t4-card:hover .product-description {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  height: auto;
  -webkit-line-clamp: unset;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 99;
  overflow-y: auto;
  max-height: 200px;
}
.hover-overlay {
  position: absolute;
  inset: 0; /* full stretch */
  background: linear-gradient(
    180deg,
    #0c1014 0%,
    #1c242c 32%,
    #3b4652 52%,
    #c7d0d8 80%,
    #d2d8df 100%
  );

  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  opacity: 0;
  transform: translateY(40px);
  transition: 0.35s ease;
  pointer-events: none;
  border-radius: 26px;
}
.hover-overlay h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.hover-overlay p {
  font-size: 13px;
  opacity: 0.9;
  margin: 10px 0;
  line-height: 1.45;
}

.hover-overlay .price-tag {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.hover-overlay .rating {
  font-size: 16px;
  margin-bottom: 6px;
}
.t4-card:hover .hover-overlay {
  opacity: 1;
  transform: translateY(0);
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 980px) {
  .layout {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
  }
}
