body {
  font-family: "Poppins", sans-serif;
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.product-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-image {
  margin: 10px;
  position: relative;
  padding: 30px;
  height: 250px;
  background: linear-gradient(
    180deg,
    #0c1014 0%,
    #1c242c 32%,
    #3b4652 52%,
    #c7d0d8 80%,
    #d2d8df 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}

.product-image img {
  margin-top: -10px;
  width: 85%;
  object-fit: contain;

  filter: drop-shadow(0px 14px 10px rgba(0, 0, 0, 0.25));
  margin-top: 6px;
}

.badge {
  position: absolute;
  top: 18px;
  left: 20px;
  background: #04b30e;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 20px;
}

.product-details {
  padding: 18px;
}

.product-title {
  font-size: 19px;
  margin: 0;
  font-weight: bold;
}

.product-description {
  font-size: 12px;
  color: #6f6f6f;
  margin: 6px 0 14px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: 600;
  font-size: 17px;
}

.buy-button {
  padding: 8px 22px;
  border: none;
  border-radius: 999px;
  background: #161616;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.buy-button:hover {
  background: #333;
}

.buy-button {
  transition: 0.3s;
}

.buy-button:active {
  transform: scale(0.92);
}

.second-style {
  border-bottom-right-radius: 70px;
  position: relative;
  padding-bottom: 50px;
}

.floating-cart {
  position: absolute;
  right: -25px;
  bottom: -25px;
  background: #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  transition: 0.2s ease;
}

.floating-cart:hover {
  transform: scale(1.07);
}
