.card-two {
  position: relative;
  width: 300px;
  background: #fff;
  border-radius: 30px;
  padding-bottom: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.card-two::after,
.card-two::before {
  display: none;
}

.card-two .product-image,
.card-two .product-details {
  position: relative;
  z-index: 5;
}
.floating-cart {
  position: absolute;
  width: 60px;
  height: 90px;
  background: #fff;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  bottom: 60px;
  right: 0px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
.wrapper {
  position: relative;
  width: 300px;
  margin-bottom: 120px;
}

.product-container-2 .floating-cart:hover {
  transform: translateY(-4px);
}

.floating-cart.added:hover {
  transform: scale(1.15);
}
.product-container-2 {
  width: 300px;
  background: #ebebeb;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;

  clip-path: path(
    "M 0 0 H 300 V400  C 150 380 330 510 120 550 C 60 570 0 500 0 580 Z"
  );
}

.product-container-1 {
  width: 300px;
  position: relative;
}
