<section class="bg-white py-24 relative overflow-hidden">
  <div class="absolute top-12 left-16 text-[#FF9800] text-4xl font-extrabold">
    +
  </div>

  <div class="absolute bottom-20 right-20 text-[#4CAF50] text-4xl font-bold">
    ●
  </div>

  <div class="absolute bottom-24 left-56 text-[#9C27B0] text-3xl font-bold">
    ~
  </div>

  <div class="max-w-6xl mx-auto px-16 grid grid-cols-2 gap-12 items-center">
    <div class="relative">
      <img
        src="2.png"
        class="w-[480px] rounded-xl drop-shadow-[0_10px_20px_rgba(0,0,0,0.15)]"
      />

      <img
        src="chart.png"
        class="absolute -bottom-10 -left-6 w-[320px] rounded-xl drop-shadow-[0_10px_20px_rgba(0,0,0,0.1)]"
      />
    </div>

    <div>
      <h2 class="text-4xl font-bold mb-4 text-gray-800">
        Vivamus sit <br />
        amet <span class="text-black font-extrabold">interdum</span>
      </h2>

      <p class="text-gray-600 mb-6 leading-relaxed">
        Vivamus et luctus mauris. Maecenas nisl libero, tincidunt id odio id,
        feugiat vulputate quam.
      </p>

      <button
        class="bg-[#9C27B0] px-8 py-3 rounded-full text-white font-medium shadow-lg hover:scale-105 hover:shadow-xl transition"
      >
        SEE DETAIL
      </button>
    </div>

    <div
      class="absolute bottom-[500px] left-0 w-[900px] h-[400px] bg-[#E9D6FF] opacity-40 blur-[100px] rounded-full"
    ></div>
  </div>
</section>
